<!DOCTYPE html>
<html>
  <head>
    <title>Iglet Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}"/>
  </head>
  <body>
    <header>
      <h1>Iglet Games</h1>
      <h2>A HackPHS Project</h2>
      <img id="tiger" src="https://hackphs.tech/assets/img/hackphslogo2019.svg">
    </header>
    <article>
        <section>
          <h3>Introduction</h3>
          <p>Iglet Games is a gaming website created by The BCA Iglets - Tal Ledeniov, Ryan Hayashi, Gabe Ashkenazi and Jeffrey Gao. We are all students at Bergen County Academies. This website uses HTML, CSS, Python, and Repl to create a user-friendly website with fun and addictive games. Below, you will find four different games. Have fun!</p>
        </section>
        <hr/>
        <section class="game">
          <h3>Nim</h3>
          <iframe height="400px" width="100%" src="https://repl.it/@JeffreyGao4/Nim?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        </section>
        <section class="game">
           <h3>Rock Paper Scissors</h3>
		<iframe height="400px" width="100%" src="https://repl.it/@JeffreyGao4/Rock-Paper-Scissors?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        </section>
        <section>
		<h3>Tic Tac Toe</h3>
		<iframe height="400px" width="100%" src="https://repl.it/@JeffreyGao4/Tic-Tac-Toe?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        </section>
	</article>
     <footer>
       Copyright  2019 by The BCA Iglets
     </footer>
  </body>
</html>